footer
    .footer-content
        .footer-left
            h3.footer-title Контакты:
            p.footer-location г. Санкт-Петербург
            p.footer-sublocation Каменноостровский пр-д, д. 50
            p.phone Тел: +7 (900) 000 00 00
            .subline
            p.footer-location г. Колпино
            p.footer-sublocation ул.Ленина, д.22
            p.phone Тел: +7 (900) 000 00 00
            p <b>Вт - Сб <b/> 10:00 - 21:00
        .footer-right
            h3.footer-title Информация:
            a.footer-info(href='') Политика конфиденциальности
            a.footer-info(href='') Пользовательское соглашение
            h3.footer-socials Мы в соцсетях:
            .footer-socials-block
                a.social-icon(href='#')
                    img(src='./img/vk.svg' alt='vk.com')
                a.social-icon(href='#')
                    img(src='./img/facebook.svg' alt='vk.com')
                a.social-icon(href='#')
                    img(src='./img/instagram.svg' alt='vk.com')
                a.social-icon(href='#')
                    img(src='./img/youtube.svg' alt='vk.com')
    .footer-logo