nav.location-togler
    button.region
        span.region__text Ваш регион:
        span.city Санкт-Петербург
    .number
        img.phone-num(src='./img/telephone.svg' alt='phone')
        span.city 8(900)000 00 00
.location-chose
        .question
            p Ваш Регион Санкт-Петербург?
            button.btn.answer-true Да
            button.btn.answer-false Нет



