header.header-list
        .header-list__logo
            img(src='./img/logo.svg' alt="logo")
        ul.header-list__navigation
           li.header-list__navigation__link
            a.href(href='./about.html')   О нас
           li.header-list__navigation__link
                a.href(href='center.html') Наши центры
           li.header-list__navigation__link
           a.href(href='events.html') Мероприятия
           li.header-list__navigation__link
           a.href(href='news.html') Новости
           li.header-list__navigation__link
           a.href(href='info.html') Полезная информация
           li.header-list__navigation__link
           a.href(href='contacts.html') Контакты
        button.header-list__btn(type='submit') Войти